<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form action="#" th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}" th:method="put">
    <br/>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <label>
        <input type="checkbox" name="roleAdmin" th:checked="${roleAdmin}" th:value="ADMIN" th:text="ADMIN">
    </label>
    <label>
        <input type="checkbox" name="roleUser" th:checked="${roleUser}"th:value="USER" th:text="USER">
    </label>
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
<form th:method="GET" action="/logout">
    <input type="submit" value="Exit">
</form>
</html>